* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2563eb;
    --secondary-color: #3b82f6;
    --background-color: #ffffff;
    --text-color: #1f2937;
    --primary-txt: #ffffff;
    --background: #000000;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.6;

    height: 6000px
}

.header {
    background-color: var(--background-color);
    border-bottom: 1px solid #e5e7eb;

    position: sticky;
    top: 0;
    z-index: 1000;

}

.container {
    width: 100%;
    padding: 40px 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: var(--text-color);
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 20px;
}

.nav-links a:hover {
    color: var(--primary-color);
}

.menu-btn {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.menu-btn i {
    pointer-events: none;
}

/* HERO STYLES */
.hero {
    background-color: var(--background-color);
    padding: 80px 24px;
}

.hero-container {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.hero-item:first-child {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-item h1 {
    font-size: 48px;
    color: var(--text-color);
    margin-bottom: 16px;
}

.hero-item p {
    font-size: 28px;
    color: var(--text-color);
    margin-bottom: 2rem;
}

.hero-buttons {
    display: flex;
    gap: 2rem;
}

/* button base */
.hero-buttons .btn {
    padding: 16px 32px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.25s ease;
}

.hero-buttons .btn-primary {
    background-color: var(--primary-color);
    color: var(--primary-txt);
}

.hero-buttons .btn-primary:hover {
    background-color: var(--secondary-color);
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(37, 99, 235, 0.25);

}

.hero-buttons .btn-secondary {
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.hero-buttons .btn-secondary:hover {
    background-color: var(--text-color);
    color: var(--primary-txt);
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(31, 41, 55, 0.25);
}

/* img */
.hero-item:last-child {
    display: flex;
    justify-content: center;
}

.hero-item:last-child img {
    width: 100%;
    height: 500px;
    max-width: 500px;
    border-radius: 100%;
    object-fit: cover;
    border: 10px solid var(--text-color);
}





/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
    .menu-btn {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background: var(--background);
        flex-direction: column;
        align-items: flex-start;
        width: 200px;
        padding: 16px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .nav-links a {
        color: var(--primary-txt);
    }

    .nav-links.active {
        display: flex;
    }

    /* Hero section */
    .hero-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .hero-item:first-child {
        order: 2;
    }

    .hero-item:last-child {
        order: 1;
    }

    .hero-item h1 {
        text-align: center;
        font-size: 36px;
        margin-bottom: 2rem;
    }

    .hero-item p {
        text-align: center;
        font-size: 24px;
        margin-bottom: 2rem;
    }

    .hero-buttons {
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }


}